{% extends "base.html" %}
{% block content%}
<div class="manage_icon">
    <a href="/profile/{{ id }}"><div class="profile"></div></a>
    {% if is_admin %}
        <a href="/making-tests"><div class="making-tests"></div></a>
        <a href="/admin"><div class="settings"></div></a>
    {% endif %}
</div>
<div id="parent">

</div>
{% if continue_task is defined %}
<p  data-answers="{{ answers }}" data-type-task="{{ type_task }}" data-test-id="{{ test_id }}" data-subtheme-id="{{ subtheme_id }}" data-task-pos="{{ task_pos }}" data-task="{{ task }}" id="continue_task" hidden></p>
{% endif %}
<div id="notifications">

</div>
{% endblock %}
